<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">

   		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
   		<style>.container {width:100%; min-width: 920px !important;} a {color:#5A5A5A;}</style>
	</head>

	<body>
	    <div class="container" style="padding:20px 80px 0 80px; background:#FFF; position:fixed;">
			<nav class="navbar" role="navigation">
	            <div class="navbar-header">
	            	<a class="navbar-brand" href="#" style="background:#FF4C2C; border-radius:2px; color:#FFF;">tw</a>
	            </div>
	            <div class="pull-right">
	            	<ul class="nav navbar-nav">
	                	<li class="active"><a href="#">Inicio</a></li>
	               		<li><a href="#about">Cuentas</a></li>
	                	<li><a href="#contact">Permisos</a></li>
	                	<li class="dropdown">
	                  		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Ajustes <span class="caret"></span></a>
	                  		<ul class="dropdown-menu" role="menu">
	                    		<li><a href="#">Action</a></li>
			                    <li><a href="#">Another action</a></li>
			                    <li><a href="#">Something else here</a></li>
			                    <li class="divider"></li>
			                    <li class="dropdown-header">Nav header</li>
			                    <li><a href="#">Separated link</a></li>
			                    <li><a href="#">One more separated link</a></li>
			                </ul>
	                	</li>
	              	</ul>
	            </div>
	    	</nav>
	    </div>

	    <div class="container" style="padding-top:80px;">
	    	<div class="row">
	    		<div class="col-lg-8">
			    	<table class="dataTable">
			    		<thead>
			    			<tr>
			    				<th width="20%">URL</th>
			    				<th width="20%">User</th>
			    				<th width="20%">Company</th>
			    				<th width="20%">Date</th>
			    				<!-- <td width="20%">Params</td> -->
			    				<th width="20%">IP</th>
			    			</tr>
			    		</thead>
			    		<tbody>
			    			<tr>
			    				<td>Prueba</td>
			    				<td>Prueba</td>
			    				<td>Prueba</td>
			    				<td>Prueba</td>
			    				<td>Prueba</td>
			    			</tr>
			    		</tbody>
			    	</table>
	    		</div>
	    	</div>
	    </div>

	    
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.3/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.js"></script>
		<script type="text/javascript">
			console.log($('.dataTable'));
			$('.dataTable').dataTable();
		</script>
	</body>
</html>