<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>API admin</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet" type="text/css">
</head>
<body>

    <div class="container">
      {% if errors %}
      <div>
        <p class="bg-danger">{{ errors }}</p>
      </div>
      {% endif %}
      <form class="form-signin" role="form" action="http://localhost:5000/admin/login" method="post">
        <h2 class="form-signin-heading">API Admin</h2>
        <input type="email" class="form-control" placeholder="Email address" name="email">
        <input type="password" class="form-control" placeholder="Password" name="password">
        <button type="submit" id="send" class="btn btn-lg btn-primary btn-block">Log in</button>
      </form>

    </div> <!-- /container -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $( document ).ready( function() {
            var url = 'http://localhost:5000/admin/login';
        });

    </script>
</body>
</html>