{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %} Roles {% endblock %}

{% block sidebar %}
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/admin/companies">Companies</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="/admin/users">API Admin Users</a></li>
            <li class="active"><a href="/admin/roles">Roles</a></li>
            <li><a href="/admin/permissions">Permissions</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="/admin/logs">Activity Log</a></li>
          </ul>
        </div>
{% endblock %}

{% block content %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header"> Roles </h1>
          <div class="row">
            <div class="col-md-2">
              <button type="button" class="btn btn-primary" id="btn-new">
                  <span class="glyphicon glyphicon-plus"></span>
              </button>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped" id="results-table">
              <thead>
                <tr>
                  <th>id</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for role in roles %}
                <tr id="tr-{{ role.id }}">
                  <td class="id">{{ role.id }}</td>
                  <td id="td-role-name-{{ role.id }}">{{ role.get_name()|e }}</td>
                  <td id="td-role-desc-{{ role.id }}">{{ role.get_description()|e }}</td>
                  <td>
                    <button class="btn btn-link" name="btn-edit" oid="{{ role.id }}">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button class="btn btn-link" name="btn-minus" oid="{{ role.id }}">
                      <span class="glyphicon glyphicon-minus"></span>
                    </button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
{% endblock %}

{% block editmodal %}
    {{ super() }}
{% endblock %}

{% block editModalTitle%} Role {% endblock %}

{% block editModalBody %}
            <div class="modal-body">
              <div class="form-group">
                <label for="name" id="name-lbl">Name</label>
                <p id="name-p" class="text-danger"></p>
                <input type="text" class="form-control" id="name" placeholder="Name" name="name">
                <label for="description" id="description-lbl">Description </label>
                <p id="description-p" class="text-danger"></p>
                <input type="text" class="form-control" id="description" placeholder="Description" name="description">
              </div>
              <div class="form-group">
                <label for="mselect">Add permissions</label>
                <select multiple="multiple" id="mselect" name="mselect">
                  {% for permission in permissions %}
                    <option value='{{ permission.id }}'>{{ permission.get_name() }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
{% endblock %}

{% block deletemodal %}
    {{ super() }}
{% endblock %}

{% block deleteModalTitle%} Role {% endblock %}

{% block deleteModalMsg%} Are you sure you want to delete the selected role? {% endblock %}

{% block another_js %}
    <script type="text/javascript">
        $( document ).ready( function() {
            var url = '/admin/roles';
            var deleteId = '';
            var editId = '-1';
            var listPermissions = {};

            /* Get role to edit */
            $( '#results-table' ).on( 'click', 'tr td button[name=btn-edit]', function() {
                var name, description, perms;

                editId = $( this ).attr( 'oid' );

                $.ajax({
                    type: 'GET',
                    url: url.concat('/' + editId),
                    success: function ( data ) {
                        var json = $.parseJSON( data );

                        name = json[ 'name' ];
                        description = json[ 'description'];
                        perms =  json [ 'permissions' ];
                        selectPermissions( perms );

                        $( '#name').val( name );
                        $( '#description' ).val( description );
                        $( '#editModal' ).modal( 'show' );
                    }
                });
            });

            $( '#btn-save' ).click( function(){
                var name, description;

                name = $( '#name' ).val();
                description = $( '#description' ).val();


                if( editId == '-1' ){
                /* Create new role */
                    $.ajax({
                        type: 'POST',
                        url: url,
                        contentType: 'application/json; charset=UTF-8',
                        data: JSON.stringify({
                            name: name,
                            description: description,
                            permissions: JSON.stringify(listPermissions)
                        }),
                        success: function ( data ) {
                            var id, buttons, tr, json = $.parseJSON( data );

                            if( $.inArray('errors', Object.keys(json)) != -1 ){
                                show_errors( json['errors'] );
                            } else {
                                id = json['_id'];
                                name = json[ 'name' ];
                                description = json[ 'description' ];
                                buttons = '<td>' +
                                        '<button class="btn btn-link" name="btn-edit" oid="' + id['$oid'] + '">' +
                                        '<span class="glyphicon glyphicon-pencil"></span>' +
                                        '</button>' +
                                        '<button class="btn btn-link" name="btn-minus" oid="' + id['$oid'] + '">' +
                                        '<span class="glyphicon glyphicon-minus"></span>' +
                                        '</button></td>';
                                tr = '<tr id=tr-' + id['$oid'] + '>' +
                                        '<td>' + id['$oid'] + '</td>' +
                                        '<td id="td-role-name-' + id['$oid'] + '">' + name + '</td>' +
                                        '<td id="td-role-desc-' + id['$oid'] + '">' + description + '</td>' +
                                        buttons + '</tr>';
                                /* Add row to the table */
                                $('#results-table tr:last').after(tr);
                                $('#editModal').modal('hide');
                            }
                        }
                    });

                } else {
                /* Save edited role */
                    $.ajax({
                        type: 'POST',
                        url: url.concat( '/' + editId ),
                        contentType: 'application/json; charset=UTF-8',
                        data: JSON.stringify({ 
                            name: name,
                            description: description,
                            permissions: JSON.stringify(listPermissions)
                        }),
                        success: function ( data ) {
                            var json = $.parseJSON( data );

                            if( $.inArray('errors', Object.keys(json)) != -1 ){
                                show_errors( json['errors'] );
                            } else {
                                // Update row values
                                $('#td-role-name-' + editId).html(name);
                                $('#td-role-desc-' + editId).html(description);
                                $('#editModal').modal('hide');
                            }
                        }
                    });
                }
            });

            /* Show edit-modal */
            $( '#btn-new' ).click( function(){
                $( '#editModal' ).modal( 'show' );
            });

            /* Delete edit-modal values when is hidding */
            $('#editModal').on('hidden.bs.modal', function (e) {
                $( '#name').val('');
                $( '#description' ).val('');
                $( '#name-lbl' ).removeClass( 'text-danger' );
                $( '#description-lbl' ).removeClass( 'text-danger' );
                $( '#name' ).removeClass( 'required' );
                $( '#description' ).removeClass( 'required' );
                $( '#name-p' ).html( '' );
                $( '#description-p' ).html( '' );
                $( '#mselect' ).multiSelect( 'deselect_all' );
                editId = '-1';
            });

            /* Get role to delete */
            $( '#results-table' ).on( 'click', 'tr td button[name=btn-minus]', function() {
                // Only show delete modal
                deleteId = $( this ).attr( 'oid' );
                $( '#deleteModal' ).modal( 'show' );
            });

            /* Delete role */
            $( '#btn-delete' ).click( function(){
                $.ajax({
                    type: 'DELETE',
                    url: url.concat( '/' + deleteId ),
                    success: function ( data ) {
                        $( '#tr-' + deleteId ).remove();
                        $( '#deleteModal' ).modal( 'hide' );
                        deleteId = '';
                    }
                });
            });


            /* Activate multiselect. Selecting/Deselecting logic */
            $( '#mselect' ).multiSelect({
                afterSelect: function( arrValues ){
                    listPermissions[''+arrValues[0]] = true;
                },
                afterDeselect: function( arrValues ){
                    if(arrValues != null){
                        for (var i = 0; i < arrValues.length; i++) {
                                listPermissions[''+arrValues[i]] = false;
                        }
                    }
                },
                selectableHeader: "<div class='bg-primary'><p>Selectable items</p></div>",
                selectionHeader: "<div class='bg-primary'><p>Selected items</p></div>"
            });

            /* Select the actual role permissions on the multiselect */ 
            function selectPermissions ( perms ) {
                var id = '';

                for (var i = 0; i < perms.length; i++) {
                    id = perms[i]['$oid'].toString();
                    $( '#mselect' ).multiSelect( 'select', id );
                }
            }

            /* Show in red the label related with the input with errors */
            function show_errors( dict ){
                var fields = ['name','description'];
                var field = '';

                for (var i = 0; i < fields.length; i++){
                    field = fields[i];
                    if ($.inArray(field, Object.keys(dict)) != -1){
                        $( '#' + field + '-lbl' ).addClass( 'text-danger' );
                        $( '#' + field ).addClass( 'required' );
                        $( '#' + field + '-p' ).html( dict[field] );
                    } else {
                        $( '#' + field + '-lbl' ).removeClass( 'text-danger' );
                        $( '#' + field ).removeClass( 'required' );
                        $( '#' + field + '-p' ).html( '' );
                    }
                }
            }

        });
    </script>
{% endblock %}